<h2 mat-dialog-title>Nuevo producto</h2>
<mat-dialog-content>
  <mat-form-field style="padding: 10px;">
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field style="padding: 10px;">
    <mat-label>Precio</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field style="padding: 10px;">
    <mat-label>Descripción</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field style="padding: 10px;">
    <mat-label>Imagen Url</mat-label>
    <input matInput>
  </mat-form-field>
  
</mat-dialog-content>