<div class="product-container">
    <div class="product-card" *ngFor="let producto of productos; let index = index">
        <div class="product-image-container">
        <img src="{{producto.imgUrl}}" alt="{{producto.name}}" class="product-image">
        <span *ngIf="producto.isOferta" class="sale-badge">En oferta</span>
        </div>
        <div class="product-details">
        <h4 class="product-title">{{producto.name}}</h4>
        <div class="price-container">
          <p [ngClass]="{'product-price-oferta': producto.isOferta, 'product-price': !producto.isOferta}">{{producto.price | currency: 'S/.'}}</p>
          <p *ngIf="producto.isOferta" class="oferta-precio">{{ producto.porcentajeOferta | percent }}</p>
        </div>
        <p *ngIf="producto.isOferta" [ngClass]="{'tachado': producto.isOferta, 'product-price': producto.isOferta}">{{producto.price | currency: 'S/.'}}</p>
        <p class="product-description">{{producto.description | shorttext}}</p>
        </div>
    </div>
</div>